body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
  min-height: 100vh;
  background: rgb(255, 250, 237);
  background: radial-gradient(
    circle,
    rgba(255, 250, 237, 1) 0%,
    rgba(208, 223, 235, 1) 100%
  );
  margin: 0;
  padding: 50px 0;
}

.App.embed {
  background: white;
  font-family: 'Adamina', 'Georgia', 'Arial', 'Helvetica', 'sans-serif';
  padding: 0;
}

.App > div:not(:first-child) {
  margin: 20px 10%;
}

.loading {
  z-index: 10;
  display: flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #000a;
  color: white;
  opacity: 1;
  top: 0;
  transition: opacity 0.5s;
  pointer-events: none;
}

.hint {
  font-size: 12px;
  color: #333;
  font-style: italic;
}

.note {
  font-size: 14px;
  color: #333;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.row > * {
  padding: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.embed h1,
.embed h2,
.embed h3,
.embed h4,
.embed h5,
.embed h6 {
  font-family: 'Arbutus Slab', 'Adamina', 'Georgia', 'Arial', 'Helvetica', 'sans-serif';
}

.embed h1 {
  font-weight: 700;
  font-size: 28px;
}

.embed > h1 {
  font-weight: 700;
  font-size: 35px;
}

.embed h3 {
  color: #111;
  font-weight: 300;
  font-size: 12px;
}

p {
  font-family: 'Roboto', sans-serif;
}

.embed p {
  font-family: 'Adamina', 'Georgia', 'Arial', 'Helvetica', 'sans-serif';
}

hr {
  width: 20%;
  color: #ddd;
  margin: 50px auto;
}

.embed button {
  font-family: 'Adamina', 'Georgia', 'Arial', 'Helvetica', 'sans-serif';
}
